html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

#nav-img {
  height: 3em;
}

#navbar li a {
  color: #f5f6fa;
}

.carousel-control-prev, .carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-control-prev span, .carousel-control-next span {
  width: 1.5rem;
  height: 1.5rem;
}

.card-hover {
  transition: 0.3s;
}
.card-hover:hover {
  transform: scale(1.15);
}

.card-products {
  display: flex;
}

.card-margin-products {
  margin: 0.5em;
}

.card-product-height {
  height: 25em;
  width: 25em;
}

.card-body-auriculares {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-body-auriculares h1 {
  font-size: 10px;
}
.card-body-auriculares p {
  font-size: 10px;
}

.btn-size-auriculares {
  height: 2rem;
  display: flex;
  align-items: center;
}

.bg-grey {
  background-color: #dee2e6;
}

.bg-red {
  background-color: #6c757d;
}

.card-aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-aside h1 {
  font-size: 4em;
  text-align: start;
}
.card-aside h2 {
  font-size: 4em;
  text-align: end;
}
.card-aside h3 {
  font-size: 4em;
  text-align: start;
}
.card-aside p {
  font-size: 2em;
  font-weight: lighter;
}

.card-color-1 {
  background-color: #184e77;
}

.card-color-2 {
  background-color: #1e6091;
}

.card-color-3 {
  background-color: #168aad;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-body a {
  font-size: 1em;
}

.btn-home-card {
  height: 4em;
  width: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  height: 30vh;
  overflow: hidden;
  object-fit: contain;
}

.img-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-card img {
  height: 15vw;
  width: 20vw;
}

.flex-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10% 0;
  background-color: #bcb8b1;
  padding: 6rem;
}

.check-btn-flex {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.label-w {
  width: 80%;
}

.hover-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vw;
  flex-direction: column;
  background-color: #e55039;
  transition: 0.4s;
  box-shadow: inset;
}
.hover-form:hover {
  transform: scale(1.2);
}

.iframe-flex {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

.footer-text h5 {
  color: #f5f6fa;
  font-size: 20px;
}

@media (max-width: 567px) {
  .card-margin-products:not(:first-child) {
    display: none;
  }
  .carousel-control-prev, .carousel-control-next {
    width: 3vh;
    height: 3vh;
  }
  .card-title-products {
    display: none;
  }
  .card-text-products {
    display: none;
  }
  .card-product-height {
    height: 10em;
    width: 10em;
  }
  .card-height-auriculares img {
    object-fit: contain;
  }
  .container-grid-lg {
    display: grid;
    grid-template-areas: "teclado1 teclado2" "teclado3 teclado4";
  }
  .container-grid-lg-auris {
    display: grid;
    grid-template-areas: "auriculares1 auriculares2" "auriculares3 auriculares4";
  }
  .card-body-products {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .card-height-auriculares img {
    height: 20vw;
    width: 20vw;
    align-items: center;
  }
  .card-body-auriculares h1 {
    font-size: 20px;
  }
  .card-body-auriculares p {
    font-size: 10px;
  }
  .btn-size-auriculares {
    height: 2rem;
    display: flex;
    align-items: center;
  }
  .container-grid-lg {
    display: grid;
    grid-template-areas: "teclado1 teclado2" "teclado3 teclado4";
  }
  .container-grid-lg-auris {
    display: grid;
    grid-template-areas: "auriculares1 auriculares2" "auriculares3 auriculares4";
  }
  .card-height-auriculares {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .card-margin-products:not(:first-child) {
    display: none;
  }
  .carousel-control-prev, .carousel-control-next {
    width: 3vh;
    height: 3vh;
  }
  .card-title-products {
    display: none;
  }
  .card-text-products {
    display: none;
  }
  .img-card img {
    height: 40vw;
    width: 40vw;
  }
  .card-body-products {
    display: flex;
    justify-content: center;
  }
  .card-hover {
    transition: none;
  }
  .card-hover:hover {
    transform: none;
  }
  .card-height-auriculares img {
    height: 30vw;
  }
  .card-body-auriculares h1 {
    font-size: 20px;
  }
  .card-body-auriculares p {
    font-size: 10px;
  }
  .btn-size-auriculares {
    height: 2rem;
    display: flex;
    align-items: center;
  }
  .flex-form {
    width: 100%;
    height: 100%;
  }
  .hover-form {
    width: 100%;
    height: 100%;
    transition: none;
  }
  .hover-form:hover {
    transform: none;
  }
}
@media (max-width: 425px) {
  .carousel-item img {
    height: 60vw;
  }
}
.grid-lg-1 {
  grid-area: teclado1;
}

.grid-lg-2 {
  grid-area: teclado2;
}

.grid-lg-3 {
  grid-area: teclado3;
}

.grid-lg-4 {
  grid-area: teclado4;
}

.grid-lg-5 {
  grid-area: auriculares1;
}

.grid-lg-6 {
  grid-area: auriculares2;
}

.grid-lg-7 {
  grid-area: auriculares3;
}

.grid-lg-8 {
  grid-area: auriculares4;
}

/*# sourceMappingURL=main.css.map */
