// General
.card-hover{
    transition: 0.3s;
        &:hover  {
            transform: scale(1.15);
        }
}

// Card Products
.card-products{
    display: flex;
 }

.card-margin-products{
    margin: 0.5em;
}

.card-body-auriculares{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }
}

.btn-size-auriculares{
    height: 2rem;
    display: flex;
    align-items: center;
}

.bg-grey{
    background-color: $pricipal-color;
}

.bg-red{
    background-color: $secondary-color;
}

// Card Img
.card-img-top{
    height: 30vh;
    overflow: hidden;
    object-fit: contain;
}
.img-card{
    display: flex; 
    align-items: center;
    justify-content: center;
    img {
        height: 15vw;
        width: 20vw;
    }
}













