// General
.card-hover { 
    transition: 0.3s;
        &:hover  {
            transform: scale(1.15);
        }
} 

// Card Products
.card-products{
    display: flex;
 }

.card-margin-products{
    margin: 0.5em;
}

.card-product-height{
    height: 25em;
    width: 25em;
}

.card-body-auriculares{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }
}

.btn-size-auriculares{
    height: 2rem;
    display: flex;
    align-items: center;
}

.bg-grey{
    background-color: $pricipal-color;
}

.bg-red{
    background-color: $secondary-color;
}

.card-aside{
    @include flex-center;
    flex-direction: column;
        h1{
            font-size: $card-aside;
            text-align: start;
        }
        h2{
            font-size: $card-aside;
            text-align: end;
        }
        h3{
            font-size: $card-aside;
            text-align: start;
        }
        p{
            font-size: 2em;
            font-weight: lighter;
        }  
}

.card-color-1{
    background-color: $first-card-home
}

.card-color-2{
    background-color: $second-card-home;
}

.card-color-3{
    background-color: $third-card-home;
}



.card-body{
    @include flex-center;
    flex-direction: column;
    a{
        font-size: 1em;
    }
} 

.btn-home-card{
    height: 4em;
    width: 15em;
    @include flex-center;
}

// Card Img
.card-img-top{
    height: 30vh;
    overflow: hidden;
    object-fit: contain;
}
.img-card{
    @include flex-center;
    img {
        height: 15vw;
        width: 20vw;
    }
}












