// General
.card-hover{
    transition: 0.3s;
}

.card-hover:hover  {
    transform: scale(1.15);
}


// Card Products
.card-products{
    display: flex;
 }

.card-margin-products{
    margin: 0 .5em;
}
.card-body-auriculares{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body-auriculares{ 
    h1{
    font-size: 10px;
}
}

.card-body-auriculares{
     p{
    font-size: 10px;
}
}

.btn-size-auriculares{
    height: 2rem;
    display: flex;
    align-items: center;
}


// Card Img
.card-img-top{
    height: 30vh;
    overflow: hidden;
}
.img-card{
    img {
        height: 15vw;
        width: 20vw;
    }
}
.img-card{
    display: flex; 
    align-items: center;
    justify-content: center;
}












