.flex-form{
    @include flex-center;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 6rem;
}

.check-btn-flex{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.label-w{
    width: 80%;  
}

.bg-body{
    background: $bg-form;
    background-size: cover;
}

.hover-form{
    @include flex-center;
    width: 100%;
    height: 22vw;
    flex-direction: column;
    background-color: #262424;
    color: $text-color;
    transition: 0.4s;
    box-shadow: inset;
    &:hover{
        transform: scale(1.1);
    }
}

.bg-nav-form{
    background-color: #262424;

}

.main-form{
    h1{
        color: $text-color;
    }
    p{
        color: $text-color;
    }
}

