@media (max-width: 567px){

    //Carousel

    .card-margin-products:not(:first-child){
        display: none;
    }
    .carousel-control-prev, .carousel-control-next{
        width: 3vh;
        height: 3vh;   
    }
   .card-title-products{
    display: none;
   } 
   
   .card-text-products{
    display: none;
   }
   
   .card-product-height{ 
    height: 70%;
    width: 100%;
}
    //Cards of Products
   .card-img-top{
        overflow: hidden;
        height: 100%;
   }
    .title-size{
        display: none;
    }

    .card-body-auriculares{
        height: 10%;
        h2{
            display: none;
        }
        a{
           font-size: 10px;
            text-align: center;
            overflow: hidden;
            justify-content: center;
        }
    }
    .btn-size-auriculares{
        width: 50px;
    }
    
    .container-grid-lg{
        display: grid;
        grid-template-areas:
         "teclado1 teclado2"
        "teclado3 teclado4";
    }

    .container-grid-lg-auris{
        display: grid;
        grid-template-areas:
         "auriculares1 auriculares2"
        "auriculares3 auriculares4";
    }

    //Index Cards
    .btn-home-card{
        height: 3em;
        width: 10em;
        @include flex-center;
    }

    .card-img-home{
        height: 100%;
        width: 100%;
        overflow: hidden;
        align-self: center;
    }

    .card-aside{
        @include flex-center;
        flex-direction: column;
            h1{
                font-size: $card-aside-mobile;
                text-align: center;
            }
            h2{
                font-size: $card-aside-mobile;
                text-align: center;
            }
            h3{
                font-size: $card-aside-mobile;
                text-align: center;
            }
            p{
                font-size: 1em;
                font-weight: lighter;
                text-align: center;
            }  
    }

    .card-width{
        width: 100%;
    }

    .card-position{
        position: relative;
        top: 170px;
    }
    .text-home-relative{
        position: relative;
        bottom: 300px;
    }

    .carousel-item img{
        height: 300px;
    }

    .hover-form{
        width: 20em;
        height: 100%;
        transition: none;
        &:hover{
            transform: none;
        }
    }
}

@media (min-width: 769px) and (max-width: 991px){
    .card-height-auriculares{ 
            img{
                height: 20vw;
                width: 20vw;
                align-items: center;
            }
    }
    
    .card-body-auriculares{
            h1{
                font-size: 20px;
            }
            p{
                font-size: 10px;
            }
    } 
     
    .btn-size-auriculares{
        height: 2rem;
        display: flex;
        align-items: center;
    }

    .container-grid-lg{
        display: grid;
        grid-template-areas:
         "teclado1 teclado2"
        "teclado3 teclado4";
    }

    .container-grid-lg-auris{
        display: grid;
        grid-template-areas:
         "auriculares1 auriculares2"
        "auriculares3 auriculares4";
    }

    .card-height-auriculares{
        height: 100%;
        width: 100%;
    } 

    .btn-home-card{
        height: 3em;
        width: 10em;
        @include flex-center;
    }

    .card-img-home{
        height: 100%;
        width: 100%;
        overflow: hidden;
        align-self: center;
    }

    .card-aside{
        @include flex-center;
        flex-direction: column;
            h1{
                font-size: $card-aside-mobile;
                text-align: center;
            }
            h2{
                font-size: $card-aside-mobile;
                text-align: center;
            }
            h3{
                font-size: $card-aside-mobile;
                text-align: center;
            }
            p{
                font-size: 1em;
                font-weight: lighter;
                text-align: center;
            }  
    }

    .card-width{
        width: 100%;
    }

    .card-position{
        position: relative;
        top: 100px;
    }
    .text-home-relative{
        position: relative;
        bottom: 520px;
    }

    .carousel-item img{
        height: 320px;
    }
    .hover-form{
        width: 20em;
        height: 100%;
        transition: none;
        &:hover{
            transform: none;
        }
    }
}

@media (min-width: 568px) and (max-width: 769px){
    //Carousel products
    .card-margin-products:not(:first-child){
        display: none;
    }

    .carousel-control-prev, .carousel-control-next{
        width: 3vh;
        height: 3vh;   
    }

   .card-title-products{
    display: none;
   } 
   
   .card-text-products{
    display: none;
   }

   .img-card{ 
        img {
            height: 40vw;
            width: 40vw;
        }
    }

    //Card of Products

    .card-body-products{
        display: flex;
        justify-content: center;
    }

    .card-hover{
        transition: none;
        &:hover{
            transform: none;
        }
    }

    .card-height-auriculares{ 
            img{
                height: 30vw;
        }
    } 

    .card-body-auriculares{ 
            h1{
                font-size: 20px;
        }
    }
    
    .card-body-auriculares{ 
            p{
                font-size: 10px;
        }
    }
    
    .btn-size-auriculares{
        height: 2rem;
        display: flex;
        align-items: center;
    }

    .container-grid-lg{
        display: grid;
        grid-template-areas:
         "teclado1 teclado2"
        "teclado3 teclado4";
    }

    .container-grid-lg-auris{
        display: grid;
        grid-template-areas:
         "auriculares1 auriculares2"
        "auriculares3 auriculares4";
    }

    //Form

    
    
    .hover-form{
        width: 70em;
        height: 100%;
        transition: none;
        &:hover{
            transform: none;
        }
    }
}



.grid-lg-1{
    grid-area: teclado1;
}

.grid-lg-2{
    grid-area: teclado2;
}

.grid-lg-3{
    grid-area: teclado3;
}

.grid-lg-4{
    grid-area: teclado4;
}

.grid-lg-5{
    grid-area: auriculares1
}

.grid-lg-6{
    grid-area: auriculares2
}

.grid-lg-7{
    grid-area: auriculares3
}

.grid-lg-8{
    grid-area: auriculares4
}