
.quienes-somos-flex{
    .img-quienes-somos{
        opacity: 0.30;
        height: 60vh;
        overflow: hidden;
    }
    .text-quienes-somos-2{
        color: $text-color;
        margin-left: 8%;
        font-size: 1.25rem;
    }
    .text-quienes-somos-1{
        color: $text-color;
        margin-right: 8%;
        font-size: 1.25rem;
    }
    h1{
        color: $text-color;
    }
    .margin-text-quienes-somos-1{
        margin-top: 100px;
    }
    .margin-text-quienes-somos-2{
        margin-top: 250px;
        margin-bottom: 150px;
    }
    .img-body-quienes-somos{
        overflow: hidden;
        width: 100%;
    }
}



